# =====================
# IDEs / Editors
# =====================
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# =====================
# Frontend (Node / Vue)
# =====================
node_modules/
dist/
.env
frontend/.env

# =====================
# Backend (Java / Maven)
# =====================
target/
**/target/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
