@import "tailwindcss";

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden
}

@layer base {
  h1 {
    @apply text-[24px] font-semibold ;
  }

  label {
    font-family: Inter, system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #545F71
  }
}

@layer components {
  .form-label {
    font-family: Inter, system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #545F71;
  }
}